@import "./base.css";

.roboto-flex-regular {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0, "wdth" 100, "GRAD" 0, "XOPQ" 96, "XTRA" 468,
    "YOPQ" 79, "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514, "YTUC" 712;
}

.roboto-condensed-bold {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.button {
  border-color: white;
  color: white;
  border-style: solid;
  font-weight: bolder;
  text-decoration: none;
  text-transform: lowercase;
  background-color: #4fcdc4;
  padding: 0.25em 0.75em;
  border-radius: 1em;
}

.button:hover {
  background-color: #6de6dd;
}


.button-pink {
  border-color: white;
  border-style: solid;
  color: white;
  font-weight: bolder;
  text-decoration: none;
  text-transform: lowercase;
  background-color: #f94d7b;
  padding: 0.25em 0.75em;
  border-radius: 1em;
}

.button-pink:hover {
  background-color: #ff7a9d;
}

.button:active {
  background-color: rgba(255, 255, 255, 0);
  border-color: #4fcdc4;
  border-width: 0.1em;
  border-style: solid;
  color: #4fcdc4;
}
body {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 58%, rgba(79,204,193,1) 100%);
  background-repeat: no-repeat;
}

.capitalize{
  text-transform: capitalize;
}
